<div class="container">
  <div class="add_form">

    <% if @errors %>
      <ul>
      <% @errors.each do |key,value| %>
        <li><%= "#{key.to_s.capitalize} #{value[0]}" %></li>
      <% end %>
      </ul>
    <% end %>

    <h2>Edit <%= @brewery.name %></h2>
    <form action="/breweries/<%= @brewery.id%>" method="post">
      <input type="hidden" name="_method" value="put">
      <div class="create_field">
        <label for="">Brewery</label>
        <select name="brewery" id="">
          <option value="<%= @brewery.id %>"><%= @brewery.name %></option>
        </select>
      </div>
      <div class="create_field">
        <label for="">Address</label>
        <input type="text" name="address" value="<%= @brewery.address %>">
      </div>
      <div class="create_field">
        <label for="">Bar Address</label>
        <input type="text" name="bar_address" value="<%= @brewery.bar_address %>" placeholder="Write 'same' if as above">
      </div>
      <div class="create_field">
        <label for="">Website</label>
        <input type="text" name="website" value="<%= @brewery.website %>">
      </div>
      <div class="create_field">
        <label for="">Logo URL</label>
        <input type="text" name="logo" value="<%= @brewery.logo %>">
      </div>
      <button type="submit">Submit</button>
    </form>
  </div>
</div>