<div class="container">
<h1>Brewery Reviews</h1>

<% if logged_in? %>
<div class="user_option">
<a href="/brewery_reviews/new">Add a Brewery Review</a>
</div>
<% end %>

<% @brewery_reviews.each do |review| %>
<article class='review'>
<h2>
  <a href="/breweries/<%= review.brewery_id %>"><%= review.brewery.name %></a>
  </h2>
<a href="/breweries/<%= review.brewery_id %>">
<img src="<%= review.brewery.logo %>" alt="">
</a>

<p><%= review.body %><br>
  Rating: <%= review.rating %> out of 5 <br>
   By <%= review.user.username %></p>

</article>
<% end %>
</div>