<div class="container">
<h1>Brewery Reviews</h1>

<div class="user_option">
<% if logged_in? %>
<a href="/brewery_reviews/new">Add a Brewery Review</a>
<% end %>
</div>

<% @brewery_reviews.each do |review| %>
<article class='review'>
<h2>
  <a href="/breweries/<%= review.brewery_id %>"><%= review.brewery.name %></a>
  </h2>
<a href="/breweries/<%= review.brewery_id %>">
<img src="<%= review.brewery.logo %>" alt="">
</a>

<p><%= review.body %></p>

</article>
<% end %>
</div>