<div class="container">
  <div class="add_form">

    <% if @errors %>
      <ul>
      <% @errors.each do |key,value| %>
        <li><%= "#{key.to_s.capitalize} #{value[0]}" %></li>
      <% end %>
      </ul>
    <% end %>

    <h2>Edit Review for <%= @review.brewery.name %></h2>
    <form action="/brewery_reviews/<%= @review.id%>" method="post">
      <input type="hidden" name="_method" value="put">
      <div class="create_field">
        <label for="">Brewery</label>
        <select name="id" id="">
          <option value="<%= @review.brewery.id %>"><%= @review.brewery.name %></option>
        </select>
      </div>
      <div class="create_field">
        <label for="">Review Text</label>
        <textarea name="body" id="" cols="30" rows="10"><%= @review.body %></textarea>
      </div>
      <div class="create_field">
        <label for="">Rating</label>
        <input type="text" name="rating" value="<%= @review.rating %>" placeholder="Number from 1-5">
      </div>
      <button type="submit">Update</button>
    </form>
  </div>
</div>