<div class="container">
  <div class="add_form">
<h2>Add A Beer Review</h2>

<% if @errors %>
<ul>
<% @errors.each do |key,value| %>
<li><%= "#{key.to_s.capitalize} #{value[0]}" %></li>
<% end %>
</ul>
<% end %>

<form action="/beer_reviews" method="post">
  <div class="create_field">
    <label for="">Beer</label>
    <select name="beer_reviewed" id="">
      <% @breweries.each do |brewery| %>
        <% if brewery.beers %>
        <% brewery.beers.each do |beer| %>
          <option value="<%= beer.id %>"><%= beer.brewery.name %> <%= " "%> <%= beer.name %></option>
          <% end %>
        <% end %>
      <% end %>
    </select>
  </div>
  <div class="create_field">
    <label for="">Review Text</label>
    <textarea name="body" id="" cols="30" rows="10"></textarea>
  </div>
  <div class="create_field">
    <label for="">Rating</label>
    <select name="Rating" id="">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select><span> out of 5</span>
  </div>
  <button type="submit">Submit</button>
</form>
</div>
</div>